In [28]:
#PURPOSE: To connect to a local mysql db and select information
import mysql.connector
from mysql.connector import errorcode

#connect to db with credentials (NOTE: This should really be stored in a separate file and called here)
try:
    cnx = mysql.connector.connect(user='root', password='root', host='localhost',database='IPT760_F16_Gradebook') 
    #note that we want to ID the correct port.  Default MySQL is 3306
    print cnx
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print "Sorry, that's not the right username or password"
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print ("DB doesn't exist")
    else:
        print (err)
    
# query = ('''SELECT title,description FROM  `Assignments` ''')
query = ('''INSERT INTO `Gradebook_Demo`.`Assignments` 
 (`assignment_id`, `title`, `description`, `due`, `points_possible`) 
 VALUES (NULL, 'Tuesday class test', 'This better work', CURRENT_TIMESTAMP, '25')''')

#UPDATE query
# query = ('''UPDATE  `Gradebook_Demo`.`Assignments` SET  `title` =  'Update test',
# `description` =  'this is to see if I can run an update query' WHERE  `Assignments`.`assignment_id` =13;''')

cursor = cnx.cursor()
results = cursor.execute(query)
cnx.commit() #have to "commit" when inserting
# print "result:",results

# All student info
# for (first, last, email) in cursor:
#     print first, last, email

#need to use fetchall when using SELECT command
# rows = cursor.fetchall()

#All assignment info
# for (title, description) in rows:
#     print title,"\n", description

#good idea to close your db connection
cursor.close()
# cnx.close()

<mysql.connector.connection.MySQLConnection object at 0x106f7c190>

True

In [29]:
#try an insertion using the example of 5.3 @ http://dev.mysql.com/doc/connector-python/en/connector-python-example-cursor-transaction.html
cursor = cnx.cursor()

null = ''
title = "Another test:"
desc = "bla bla bla bla bla"
due = "2038-01-19 03:14:07"
points = 35
myList = ['Peter','Robb']

#insert query
add_record = ("INSERT INTO `Gradebook_Demo`.`Assignments` "
"(`assignment_id`,`title`, `description`,`due`,`points_possible`) "
# "VALUES (%s, %s, %s, %s, %s)")
# "VALUES (NULL, 'Final class test', 'This better work', CURRENT_TIMESTAMP(), '25')")
# "VALUES ('"+null+"', '"+title+"', '"+desc+"' ,'"+due+"', '"+str(points)+"')")
"VALUES (%(id)s,%(title)s,%(desc)s,%(due)s,%(points)s)")
print add_record

subs = ('','substitution test', 'bla bla bla bla', '2038-01-19 03:14:07', 35)
dict_subs = {
    'id':'NULL',
    'title':'One more time',
    'desc':''.join(myList),
    'due':'',
    'points': 50,    
}
result = cursor.execute(add_record, dict_subs)
cnx.commit()
cursor.close()

INSERT INTO `Gradebook_Demo`.`Assignments` (`assignment_id`,`title`, `description`,`due`,`points_possible`) VALUES (%(id)s,%(title)s,%(desc)s,%(due)s,%(points)s)

True

In [46]:
#insert query with set value

cursor = cnx.cursor()


mysql_query = ("INSERT INTO  `Gradebook_Demo`.`Assignments` "
"(`assignment_id` ,`title` ,`description`,`due` ,`points_possible` ,`list` ,`setTest`) "
"VALUES (%(id)s,  %(title)s, %(desc)s, %(due)s, %(points)s,  %(enum)s,  %(set)s) ")

mySet = ['d','z','x','p']
mySet = ",".join(mySet)
mySet = "'"+mySet+"'"

set_subs = {
    'id':'NULL',
    'title':'Setup!',
    'desc':'Demo of how to use as a set as a datatype in mysql from python',
    'due':'CURRENT_TIMESTAMP',
    'points':'23',
    'enum':'b',
    'set':mySet,
}

print mySet
# print (",".join(mySet))
result = cursor.execute(mysql_query, set_subs)
cnx.commit()
cursor.close()

'd,z,x,p'

True